/* form.css */
.form {
  width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-left: 0px;
  text-align: center;
}

.book-list {
  width: 750px;
  list-style: none;
  margin-left: 60px;
  padding: 0;
}

.book-item {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
}

.book-info {
  width: 650px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.book-title {
  font-weight: bold;
}

.book-authors {
  font-style: italic;
}

.additional-details {
  margin-top: 10px;
  padding: 10px;
  border-top: 1px solid #ccc;
}

button {
  /* height: 30px; */
  margin-top: 10px;
  background-color: #3498db;
  color: #fff;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
  .form {
    padding: 10px;
  }

  .book-item {
    padding: 8px;
  }

  button {
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  .book-info {
    flex-direction: column;
    align-items: flex-start;
  }

  button {
    width: 100%;
    margin-top: 8px;
  }
}
