/* form.css */
.form {
  max-width: 800px;
  margin: 60px auto;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-left: 0px;
  text-align: center;
}

.book-list {
  width: 750px;
  list-style: none;
  margin-left: 60px;
  padding: 0;
}

.book-item {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
}

.book-info {
  width: 650px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.book-title {
  margin-left: 13px;
  font-weight: bold;
}

.book-authors {
  font-style: italic;
}

.additional-details {
  margin-top: 10px;
  padding: 10px;
  border-top: 1px solid #ccc;
}

button {
  /* height: 30px; */
  margin-right: 10px;
  margin-top: 10px;
  background-color: #3498db;
  color: #fff;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
}

/* Responsive Styles */
.book-details-box {
  flex: 0 0 45%; /* Adjust the width as needed */
  background-color: #fefefe;
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.div-class {
  margin-left: 300px;
}

.search-box{
  margin-left: 100px;
  border-radius: 10px;
  border-color: grey;
  width: 200px;
  border-width: 0.1px;
}

.select-type {
  width: 100px;
}