/* Add your preferred styles for the overall container */

.import-box {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.import-box label {
  margin-bottom: 10px;
}

.import-box input {
  width: 70%; /* Set the width to 100% */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
  margin-right: 10px;
}

.fixed-size-container {
  max-width: 800px; /* Set the fixed width of the container */
  margin: 0 auto;
  padding: 20px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  margin-left: 10px;
}

label {
  display: block;
  margin-bottom: 10px;
  margin-left: 10px;
}

input{
  width: 50%;
  padding: 10px;
  margin-top: 4px;
  margin-left: 10px;
  margin-bottom: 12px;
  box-sizing: border-box;
}

select {
  width: 20%;
  padding: 10px;
  margin-top: 4px;
  margin-left: 10px;
  margin-bottom: 12px;
  box-sizing: border-box;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  margin-left: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #0056b3;
}

.response-box {
  font-family: 'Nunito', sans-serif;
  border: 1px solid #ccc;
  background-color: white;
  padding: 10px;
  margin-top: 5px;
  max-height: 350px;
  overflow: auto;
}

.book-details {
  margin-bottom: 20px;
}

.book-separator {
  border: 1px solid #ccc;
  margin: 20px 0;
}

.custom-button {
  margin-left: 120px;
}

.transaction-button {
  margin-left: 150px;
}